<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yizhi.student.dao.StudentInfoDao">

	<resultMap id="studentResultMap" type="com.yizhi.student.domain.StudentInfoDO">
		<result property="examId"  column="exam_id"/>
		<result property="classId" column="class_id"/>
		<result property="studentName" column="student_name"/>
		<result property="certify" column="certify"/>
		<result property="mailAddress" column="mail_address"/>
		<result property="foreignLanaguage" column="foreign_lanaguage"/>
		<result property="studentSex" column="student_sex"/>
		<result property="nation" column="nation"/>
		<result property="political" column="political"/>
		<result property="cardId" column="card_id"/>
		<result property="telephone" column="telephone"/>
		<result property="subjectType" column="subject_type"/>
		<result property="tocollege" column="tocollege"/>
		<result property="tocampus" column="tocampus"/>
		<result property="tomajor" column="tomajor"/>
		<result property="birthplace" column="birthplace"/>
		<result property="grade" column="grade"/>
		<result property="isstate" column="isstate"/>
		<result property="birthday" column="birthday"/>
		<result property="note" column="note"/>
		<result property="addTime" column="add_time"/>
		<result property="addUserid" column="add_userid"/>
		<result property="editTime" column="edit_time"/>
		<result property="editUserid" column="edit_userid"/>
	</resultMap>
	
	<insert id="save" parameterType="com.yizhi.student.domain.StudentInfoDO"
            useGeneratedKeys="true" keyProperty="id">
        insert into s_student_info
        (
         `exam_id`,
		 `class_id`,
		 `student_name`,
		 `certify`,
		 `mail_address`,
		 `foreign_lanaguage`,
		 `student_sex`,
		 `nation`,
		 `political`,
		 `card_id`,
		 `telephone`,
		 `subject_type`,
		 `tocollege`,
		 `tocampus`,
		 `tomajor`,
		 `birthplace`,
		 `grade`,
		 `isstate`,
		 `birthday`,
		 `note`,
		 `add_time`,
		 `add_userid`,
		 `edit_time`,
		 `edit_userid`
	    )
		values
		(
		    #{examId},
			#{classId},
			#{studentName},
			#{certify},
			#{mailAddress},
			#{foreignLanaguage},
			#{studentSex},
			#{nation},
			#{political},
			#{cardId},
			#{telephone},
			#{subjectType},
			#{tocollege},
			#{tocampus},
			#{tomajor},
			#{birthplace},
			#{grade},
			#{isstate},
			#{birthday},
			#{note},
			#{addTime},
			#{addUserid},
			#{editTime},
			#{editUserid}
		)


    </insert >

    <update id="update" parameterType="com.yizhi.student.domain.StudentInfoDO">
        update s_student_info
		<set>
			<if test="examId != null">`exam_id` = #{examId}</if>
			<if test="classId != null">`class_id` = #{classId}</if>
			<if test="studentName != null">`student_name` = #{studentName}</if>
			<if test="certify != null">`certify` = #{certify}</if>
			<if test="mailAddress != null">`mail_address` = #{mailAddress}</if>
			<if test="foreignLanaguage != null">`foreign_lanaguage` = #{foreignLanaguage}</if>
			<if test="studentSex != null">`student_sex` = #{studentSex}</if>
			<if test="nation != null">`nation` = #{nation}</if>
			<if test="political != null">`political` = #{political}</if>
			<if test="cardId != null">`card_id` = #{cardId}</if>
			<if test="telephone != null">`telephone` = #{telephone}</if>
			<if test="subjectType != null">`subject_type` = #{subjectType}</if>
			<if test="tocollege != null">`tocollege` = #{tocollege}</if>
			<if test="tocampus != null">`tocampus` = #{tocampus}</if>
			<if test="tomajor != null">`tomajor` = #{tomajor}</if>
			<if test="birthplace != null">`birthplace` = #{birthplace}</if>
			<if test="grade != null">`grade` = #{grade}</if>
			<if test="isstate != null">`isstate` = #{isstate}</if>
			<if test="birthday != null">`birthday` = #{birthday}</if>
			<if test="note != null">`note` = #{note}</if>
			<if test="addTime != null">`add_time` = #{addTime}</if>
			<if test="addUserid != null">`add_userid` = #{addUserid}</if>
			<if test="editTime != null">`edit_time` = #{editTime}</if>
			<if test="editUserid != null">`edit_userid` = #{editUserid}</if>
		</set>
		where id = #{id}
    </update>

    <delete id="remove">
		delete from s_student_info where id = #{id}
    </delete>

    <delete id="batchRemove">
		delete from s_student_info where id in
		<foreach item="id" collection="array" open="(" separator=","
				 close=")">
			#{ids}
		</foreach>
    </delete>

	<sql id="studentColumns">
		`exam_id`,
		 `class_id`,
		 `student_name`,
		 `certify`,
		 `mail_address`,
		 `foreign_lanaguage`,
		 `student_sex`,
		 `nation`,
		 `political`,
		 `card_id`,
		 `telephone`,
		 `subject_type`,
		 `tocollege`,
		 `tocampus`,
		 `tomajor`,
		 `birthplace`,
		 `grade`,
		 `isstate`,
		 `birthday`,
		 `note`,
		 `add_time`,
		 `add_userid`,
		 `edit_time`,
		 `edit_userid`
	</sql>



    <select id="list" resultType="com.yizhi.student.domain.StudentInfoDO">
		select

		<include refid="studentColumns"></include>

		from s_student_info a

		<where>
			<if test="classId != null and classId != ''">and a.class_id = #{classId}</if>
			<if test="tomajorId != null and tomajorId != ''">and a.tomajor = #{tomajorId}</if>
			<if test="tocollegeId != null and tocollegeId != ''">and a.tocollege = #{tocollegeId}</if>
			<if test="name != null and name != ''">and a.student_name like CONCAT('%',#{name},'%')</if>
		</where>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit};
		</if>

    </select>

	<select id="count" resultType="int">
		select

		count(*)

		from s_student_info a


		<where>
			<if test="classId != null and classId != ''">and a.class_id = #{classId}</if>
			<if test="tomajorId != null and tomajorId != ''">and a.tomajor = #{tomajorId}</if>
			<if test="tocollegeId != null and tocollegeId != ''">and a.tocollege = #{tocollegeId}</if>
			<if test="name != null and name != ''">and a.student_name like CONCAT('%',#{name},'%')</if>
		</where>
	</select>

	<select id="get" resultType="com.yizhi.student.domain.StudentInfoDO">
		select
		<include refid="studentColumns"/>
		from sys_user a
		where a.user_id = #{value};
	</select>

</mapper>